<template component>
  <link rel="stylesheet" href="/src/style/style.css" />
  <link rel="stylesheet" href="/src/style/global.css" />
  <a href="../pages/project/uniteer.html">
    <div class="homepage-single-work">
      <div class="homepage-work-category">
        <h4>UI/UX Design</h4>
      </div>
      <div class="homepage-work-grid">
        <div class="homepage-work-image">
          <img src="/public/assets/images/project-card/uniteer/mockup-1.webp" alt="">
        </div>
        <div class="homepage-work-title">
          <div class="homepage-work-title-margin">
            <h3>Uniteer</h3>

            <div class="tags-all">
              <div class="tags">
                <p>UI/UX Design</p>
              </div>
              <div class="tags">
                <p>APP</p>
              </div>
              <div class="tags">
                <p>Graphic Design</p>
              </div>
            </div>
          </div>
          <p>Uniteer is the app for parents and organizations track and manage children events
            and activities.</p>
        </div>
      </div>
    </div>
  </a>
  <script>
    export default {
      props: {
        data: {},
      }
    };
  </script>
</template>