<template component>
  <link rel="stylesheet" href="/src/style/style.css" />
  <link rel="stylesheet" href="/src/style/global.css" />
  <div class="homepage-aboutme">
    <h2>{{info.title}}</h2>
    <div class="homepage-aboutme-row">
      <div class="homepage-profile-image">
        <img attr:src="info.profileImage" alt="" />
      </div>
      <div class="homepage-about-me-description">
        <div class="homepage-aboutme-text">

          <x-fill :value="info.description">
            <p>{{$data}}</p>
          </x-fill>
        </div>
        <div>
          <h4>{{info.skillsTitle}}</h4>
          <div class="homepage-software-logo">
            <x-fill :value="info.skills">
              <img attr:src="$data" alt="">
            </x-fill>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    export default ({ query }) => {
      return {
        data: {
          info: {},
        },
        async ready() {
          const data = await fetch("/src/data/home/about-me.json").then((e) => e.json());
          this.info = data;
        },
      };
    };
  </script>
</template>