<template component>
  <link rel="stylesheet" href="/src/style/style.css" />
  <link rel="stylesheet" href="/src/style/global.css" />
  <div class="homepage-can-do">
    <h2>{{info.title}}</h2>

    <!-- illustration -->
    <div class="homepage-detail">
      <x-fill :value="info.lists">
        <div class="homepage-detail-single">
          <img attr:src="$data.image" alt="" />
          <!-- description -->
          <div class="can-do-description">
            <h4>{{$data.title}}</h4>
            <p>
              {{$data.description}}
            </p>
          </div>
        </div>
      </x-fill>
    </div>



  </div>

  <script>
    export default ({ query }) => {
      return {
        data: {
          info: {},
        },

        async ready() {
          const data = await fetch("/src/data/home/can-do.json").then((e) => e.json());
          this.info = data;
        },
      };
    };
  </script>
</template>