<template component>
  <link rel="stylesheet" href="/src/style/style.css" />
  <link rel="stylesheet" href="/src/style/global.css" />
  <div class="homepage-header">
    <div class="homepage-header-text">
      <!-- <p class="homepage-uppercase">UX/UI and Graphic Designer</p> -->
      <h1>Hi, I'm <span>Celia</span></h1>
      <div class="homepage-long-sentence">
        <p>
          I am a UI/UX and graphic designer with digital marketing background.
        </p>
        <p>
          I love creating digital experiences that are both user-friendly and
          visually appealing.
        </p>
      </div>
      <!-- image  -->
    </div>

    <div class="homepage-header-image">
      <img src="/public/assets/images/header/header-background.gif" alt="" />
    </div>
  </div>
</template>
