<template component>
  <link rel="stylesheet" href="/src/style/style.css" />
  <link rel="stylesheet" href="/src/style/global.css" />
  <div class="homepage-my-work">
    <h2>{{info.title}}</h2>
    <!-- <div class="homepage-h3-center">
            <h3>UI/UX Design</h3>
        </div> -->
    <div class="homepage-work-all">
      <x-fill :value="info.projects">
        <a attr:href="$data.link" olink>
          <div class="homepage-single-work-all">
            <div class="homepage-work-category">
              <h4>{{$data.category}}</h4>
            </div>
            <div class="homepage-work-grid-all">
              <div class="homepage-work-image">
                <img attr:src="$data.image" :alt="$data.title" />
              </div>
              <div class="homepage-work-title">
                <div class="homepage-work-title-margin">
                  <h3>{{$data.title}}</h3>
                  <div class="tags-all">
                    <template is="replace-temp">
                      <x-fill :value="$data.tags">
                        <div class="tags">
                          <p>{{$data}}</p>
                        </div>
                      </x-fill>
                    </template>
                  </div>
                </div>
                <p>{{$data.description}}</p>
              </div>
            </div>
          </div>
        </a>
      </x-fill>
    </div>
  </div>
  <script>
    export default ({ query }) => {
      return {
        data: {
          info: {},
        },

        async ready() {
          const data = await fetch("/src/data/home/my-work.json").then((e) => e.json());
          this.info = data;
        },
      };
    };
  </script>
</template>