<template component>
  <link rel="stylesheet" href="/src/style/style.css" />
  <link rel="stylesheet" href="/src/style/global.css" />
  <l-m src="/src/components/home/work-container.html"></l-m>
  <div class="homepage-my-work">
    <h2>My Projects</h2>

    <!-- <div class="homepage-h3-center">
            <h3>UI/UX Design</h3>
        </div> -->

    <div class="homepage-work-all">
      <!-- Uniteer -->
      <a href="pages/project/uniteer.html">
        <div class="homepage-single-work-all">
          <div class="homepage-work-category">
            <h4>UI/UX Design</h4>
          </div>
          <div class="homepage-work-grid-all">
            <div class="homepage-work-image">
              <img src="/public/assets/images/project-card/uniteer/mockup-1.webp" alt="" />
            </div>
            <div class="homepage-work-title">
              <div class="homepage-work-title-margin">
                <h3>Uniteer</h3>

                <div class="tags-all">
                  <div class="tags">
                    <p>UI/UX Design</p>
                  </div>
                  <div class="tags">
                    <p>APP</p>
                  </div>
                  <div class="tags">
                    <p>Graphic Design</p>
                  </div>
                </div>
              </div>
              <p>
                Uniteer is the app for parents and organizations track and
                manage children events and activities.
              </p>
            </div>
          </div>
        </div>
      </a>

      <!-- Prisense -->
      <a href="pages/project/prisense.html">
        <div class="homepage-single-work-all">
          <div class="homepage-work-category">
            <h4>UI/UX Design</h4>
          </div>
          <div class="homepage-work-grid-all">
            <div class="homepage-work-image">
              <img
                src="/public/assets/images/single-project/project/prisense/cover.webp"
                alt="prisense"
              />
            </div>
            <div class="homepage-work-title">
              <div class="homepage-work-title-margin">
                <h3>Prisense</h3>

                <div class="tags-all">
                  <div class="tags">
                    <p>UI/UX Design</p>
                  </div>
                  <div class="tags">
                    <p>Graphic Design</p>
                  </div>
                </div>
              </div>
              <p>
                Prisense is the B2B website for small business companies, to
                check marketing prices.
              </p>
            </div>
          </div>
        </div>
      </a>

      <!-- instaff -->
      <a href="pages/project/instaff.html">
        <div class="homepage-single-work-all">
          <div class="homepage-work-category">
            <h4>UI/UX Design</h4>
          </div>
          <div class="homepage-work-grid-all">
            <div class="homepage-work-image">
              <img
                src="/public/assets/images/single-project/project/instaff/cover.png"
                alt="Instaff"
              />
            </div>
            <div class="homepage-work-title">
              <div class="homepage-work-title-margin">
                <h3>Instaff</h3>

                <div class="tags-all">
                  <div class="tags">
                    <p>UI/UX Design</p>
                  </div>
                  <div class="tags">
                    <p>Branding</p>
                  </div>
                </div>
              </div>
              <p>
                Instaff can help employees and employers manage or apply for
                part-time or freelance jobs.
              </p>
            </div>
          </div>
        </div>
      </a>

      <!-- klook -->
      <a href="../pages/design/magazine.html">
        <div class="homepage-single-work-all">
          <div class="homepage-work-category">
            <h4>Case Study</h4>
          </div>
          <div class="homepage-work-grid-all">
            <div class="homepage-work-image">
              <img
                src="/public/assets/images/single-project/case-study/klook/mockup-1.webp"
                alt=""
              />
            </div>
            <div class="homepage-work-title">
              <div class="homepage-work-title-margin">
                <h3>Klook</h3>

                <div class="tags-all">
                  <div class="tags">
                    <p>UI/UX Design</p>
                  </div>
                  <div class="tags">
                    <p>Rebranding</p>
                  </div>
                  <div class="tags">
                    <p>Case Study</p>
                  </div>
                </div>
              </div>

              <p>
                Klook helps users purchase and arrange trips. I made some
                changes to make it look more user-friendly.
              </p>
            </div>
          </div>
        </div>
      </a>

      <!-- Calendar 2022 -->
      <a href="pages/design/calendar.html">
        <div class="homepage-single-work-all">
          <div class="homepage-work-category">
            <h4>Graphic Design</h4>
          </div>
          <div class="homepage-work-grid-all">
            <div class="homepage-work-image">
              <img src="/public/assets/images/project-card/calendar/calendar-1.webp" alt="" />
            </div>
            <div class="homepage-work-title">
              <div class="homepage-work-title-margin">
                <h3>2022 Calendar</h3>

                <div class="tags-all">
                  <div class="tags">
                    <p>Marketing</p>
                  </div>
                  <div class="tags">
                    <p>Graphic Design</p>
                  </div>
                </div>
              </div>

              <p>
                The 2022 calendar created with the company's venues as the
                theme, and users to learn more about the company.
              </p>
            </div>
          </div>
        </div>
      </a>

      <!-- magazine -->
      <a href="../pages/design/magazine.html">
        <div class="homepage-single-work-all">
          <div class="homepage-work-category">
            <h4>Graphic Design</h4>
          </div>
          <div class="homepage-work-grid-all">
            <div class="homepage-work-image">
              <img
                src="/public/assets/images/single-project/design/magazine/mockup-1.webp"
                alt=""
              />
            </div>
            <div class="homepage-work-title">
              <div class="homepage-work-title-margin">
                <h3>Magazine</h3>

                <div class="tags-all">
                  <div class="tags">
                    <p>Graphic Design</p>
                  </div>
                </div>
              </div>

              <p>
                Magazine design was one of my projects in school and I created
                some illustrations to help readers become engaged.
              </p>
            </div>
          </div>
        </div>
      </a>

      <!-- other -->
      <!-- <a href="../pages/design/magazine.html">
                <div class="homepage-single-work-all">
                    <div class="homepage-work-category">
                        <h4>Graphic Design</h4>
                    </div>
                    <div class="homepage-work-grid-all">
                        <div class="homepage-work-image">
                            <img src="image/other/other-cover.png" alt="Other Graphic Design">
                        </div>
                        <div class="homepage-work-title">
                            <div class="homepage-work-title-margin">
                                <h3>Other Graphic</h3>

                                <div class="tags-all">
                                    <div class="tags">
                                        <p>Graphic Design</p>
                                    </div>
                                </div>
                            </div>

                            <p>Some graphic designs I created, including leaflet, illustrations, flyer, poster.</p>
                        </div>
                    </div>
                </div>
            </a> -->
    </div>
  </div>
</template>
