<template component>
  <link rel="stylesheet" href="/src/style/style.css" />
  <link rel="stylesheet" href="/src/style/global.css" />
  <footer>
    <div class="footer-grid">
        <div class="logo">
            <a href="index.html">
                <img src="/public/assets/logo/logo.svg" alt="Celia Logo">
            </a>
        </div>
        <div class="footer-social-media-logo">
            <div class="contact-facebook">
                <a class="facebook" href="https://www.facebook.com/kamijai.chang/">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </div>
            <div class="contact-ig">
                <a class="ig" href="https://www.instagram.com/celiachang_/">
                    <i class="fa-brands fa-instagram"></i>
                    <!-- <img src="../image/social-media/instagram.svg" alt=""> -->
                </a>
            </div>
            <div class="contact-linkedin">
                <a class="linkedin" href="http://www.linkedin.com/in/sze-celia-chang">
                    <i class="fa-brands fa-linkedin-in"></i>
                    <!-- <img src="../image/social-media/linkedin.svg" alt=""> -->
                </a>
            </div>
            <div class="contact-website">
                <a href = "mailto: kaymichang@gmail.com">
                    <i class="fa-regular fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
    <p>© 2023 Sze Man Chang. All designed and developed by me.</p>
</footer>
</template>